@import "basic-combat/basic-combat-map.css";
@import "advanced-combat/advanced-combat-map.css";

.map-hub {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    > .map {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    &:not([data-combat-rule="基本戦闘"]) {
        > .basic-combat-map {
            display: none;
        }
    }

    &:not([data-combat-rule="上級戦闘"]) {
        > .advanced-combat-map {
            display: none;
        }
    }
}
